body{
margin:0;
background-color: #C5D9F8;
}
h1,p{
color:brown;
text-align:center;
text-style:italic;
}
head,tr{
background-color:white; 
text-align:center;
font-text: italic;

}
.container {
text-align: center;
width: 70%;
margin:0 auto;


}
.box_1 h5 {
	text-decoration: underline; 
}
.friend ol{
	style="margin-left: 40%;"
}
.img{
	margin:0 auto;
	style="margin-left: 40%;"
}

a::link{
	text-decoration: false;
}
